 //TBD: Detail view for <span>{{$ctrl.itemId}}</span>

<label for="label">{{itemDetail.label}} <input type="text" id="label"/></label>
<button ng-click="saveLabel()">saveLabel</button>
</br>
<label for="total">{{itemDetail.total}}  <input type="text" id="total"/></label><button ng-click="saveTotal()">saveTotal</button>
</br>
<label for="label">{{itemDetail.current}} <input type="text" id="current"/></label><button ng-click="saveCurrent()">saveCurrent</button>
</br>
<button ui-sref="home">Home</button>
<!-- <button ng-click="count = count + 1" ng-init="count=0">+1</button> <p>The button has been clicked {{count}} times.</p>-->
<button ng-click="$ctrl.setImage()">Camello</button>
<img ng-src="{{$ctrl.mainImageUrl}}" />




<!-- <div>Item name: {{ itemDetail.name }}</div>
<div>Item quantity: {{ itemDetail.quantity }}</div>
<div>Item description: {{ itemDetail.description }}</div> -->
