 //TBD: Detail view for <span>{{$ctrl.itemId}}</span>

<!-- <label for="label">{{itemDetail.label}} <input type="text" id="label"/></label>
<button ng-click="saveLabel()">saveLabel</button>
</br>
<label for="total">{{itemDetail.total}}  <input type="text" id="total"/></label><button ng-click="saveTotal()">saveTotal</button>
</br>
<label for="label">{{itemDetail.current}} <input type="text" id="current"/></label><button ng-click="saveCurrent()">saveCurrent</button>
</br>
<button ui-sref="home">Home</button>
<button ng-click="$ctrl.setImage()">Camello</button>
<img ng-src="{{$ctrl.mainImageUrl}}" /> -->

<div class="container">
  <!-- <h2> Add Samples </h2>
	{{ samples.length }} -->
  <br /> Label: <br />
  <input type="text" ng-model={{itemDetail.label}} />
  <br /> Total: <br />
  <input type="text" ng-model={{itemDetail.total}} />
  <br /> Current: <br />
  <input type="text" ng-model={{itemDetail.current}} />
  <br />

  <button ng-click="addSamples()">Add New</button>
  <br />

</div>
