<div ng-repeat="bar in $ctrl.data track by $index" " class="bar bar-list-item " style="height:{{$ctrl.width / $ctrl.data.length - 45}}px;width:{{bar.current / $ctrl.max * $ctrl.width}}px; top:{{$index / $ctrl.data.length * $ctrl.width}}px; ">
  <a class="label " align="left " ui-sref="itemDetail({itemId: $index}) ">{{bar.label}}</a>

  <div class="camel right tooltip ">
    <img ng-src={{$ctrl.image}} height="42 " width="42 "   top="-5px " />
  </div>



  <!--Milestones-->
  <!--<div class="milestone tooltip " ng-repeat="mls in bar.milestones " style="margin-left: {{mls.complete / $ctrl.max * $ctrl.height}}px; ">*<span class="tooltiptext ">{{mls.complete}} ({{bar.label}})}}</span></div>-->
</div>


<!--<span class="tooltiptext ">{{(bar.current/bar.total}}%</span>-->
